<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="/css/register.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>
<body>
    <header>
        <div class="logo-search-subtitle">
            <div class="container-logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre"></a>
            </div>
            <div class="container-searchbar-lens">
                <div class="container-searchbar">
                    <input class="searchbar" type="text" name="searchbar" placeholder="Buscá el producto">
                </div>

                <div class="container-lens">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div id="icon-subtitle">
                <i class="fas fa-hand-holding-usd"></i>
                <p id="subtitulo">Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav
            class="Header-Navbar">
            <div class="container-nav-list">
                <ul class="nav-list1">
                    <a href="/Ofertas">
                        <li class="li-header">Ofertas</li>
                    </a>
                    <a href="">
                        <li class="li-header">Tiendas Oficiales</li>
                    </a>
                    <a href="">
                        <li class="li-header">Vender</li>
                    </a>
                    <a href="">
                        <li class="li-header">Ayuda</li>
                    </a>
                </ul>
                <ul class="nav-list2">
                    <a href="/crea-tu-cuenta">
                        <li class="li-header">Creá tu cuenta&#128203</li>
                    </a>
                    <a href="/login">
                        <li class="li-header">Ingresá</li>
                    </a>
                    <a href="">
                        <li class="li-header">Mis compras</li>
                    </a>
                </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>

    </header>
    <main>
        <section>
            <form action="/login.html" method="POST">
                <div class="container-username">
                    <label for="username"></label>
                    <input type="text" name="username" id="username" placeholder="Ingresá tu usuario" required minlength="8">
                </div>
                <div class="container-password">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" placeholder="Creá tu contraseña" required minlength="8">
                </div>
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
    <footer>
        <section class="top-footer">
            <section class="pagaConTarjeta">
                <div>
                    <i class="fas fa-credit-card"></i>
                </div>
                <h5><strong>Paga con tarjeta o en efectivo</strong></h5>
                <h6>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</h6>
            </section>
            <section class="envios">
                <div>
                    <i class="fas fa-gift"></i>
                </div>
                <h5><strong>Envío gratis desde $ 2.500</strong></h5>
                <h6>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</h6>
            </section>
            <section class="seguridad">
                <div>
                    <i class="fas fa-user-shield"></i>
                </div>
                <h5><strong>Seguridad, de principio a fin</strong></h5>
                <h6>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</h6>
            </section>
        </section>
        <section>
            <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
        </section>
    </footer>
    
</body>
</html>