<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="container-searchbar-lens">
                    <div class="container-searchbar">
                        <input class="searchbar" type="text" name="searchbar" placeholder="Buscá el producto">
                    </div>
                    <div class="container-lens">
                        <i class="fas fa-search"></i>
                    </div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            <div class="container-nav-list">
                <ul class="nav-list1">
                    <a href="/Ofertas">
                        <li class="li-header">Ofertas</li>
                    </a>
                    <a href="">
                        <li class="li-header">Tiendas Oficiales</li>
                    </a>
                    <a href="">
                        <li class="li-header">Vender</li>
                    </a>
                    <a href="">
                        <li class="li-header">Ayuda</li>
                    </a>
                </ul>

                <ul class="nav-list2">
                    <a href="/crea-tu-cuenta">
                        <li class="li-header">Creá tu cuenta&#128203</li>
                    </a>
                    <a href="/login">
                        <li class="li-header">Ingresá</li>
                    </a>
                    <a href="">
                        <li class="li-header">Mis compras</li>
                    </a>
                </ul>
            </div>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <main>
            <section>
                <form action="/register.html" method="POST">
                    <div class="container-name-lastname">
                        <label for="name-lastname"></label>
                        <input type="text" name="name-lastname" id="name-lastname" placeholder="Ingresá tu nombre y apellido" required minlength="6">
                    </div>
                    <div class="container-username">
                        <label for="username"></label>
                        <input type="text" name="username" id="username" placeholder="Ingresá tu usuario" required minlength="8">  
                    </div>
                    <div class="container-birthdate">
                        <label for="birthdate">Fecha de nacimiento</label>
                        <input type="date" name="birthdate" id="birthdate" placeholder="Ingresá tu fecha de nacimiento" value="1996-12-17" min="1900-01-01" required>
                    </div>
                    <div class="container-category-interest">
                        <div class="label-categories"> 
                        <label  for="category-interest">Categorías de interés</label>
                        </div>
                        <div id="electro">
                        <input class="input-categories" type="checkbox" name="category-interest" id="category-interest" value="Electro">
                        <span class="electro">Electro</span>
                        </div>
                        <div id="moda">
                        <input class="input-categories" type="checkbox" name="category-interest" id="category-interest" value="Moda">
                        <span class="moda">Moda</span>
                        </div>
                        <div id="hogar">
                        <input class="input-categories" type="checkbox" name="category-interest" id="category-interest" value="Hogar"> 
                        <span class="hogar">Hogar</span>
                        </div>
                        <div id="jugueteria">
                        <input class="input-categories" type="checkbox" name="category-interest" id="category-interest" value="Juguetería"> 
                        <span class="jugueteria">Juguetería</span>
                        </div>
                        <div id="vida-sana">
                        <input class="input-categories" type="checkbox" name="category-interest" id="category-interest" value="Vida Sana">
                        <span class="vida-sana">Vida Sana</span>
                        </div>
                    </div>
                    <div class="container-user-avatar">
                        <label for="user-avatar">Subí tu foto o avatar</label>
                        <input type="file" name="user-avatar" id="user-avatar" accept=".jpg, .png, .pdf">
                    </div>
                    <div class="container-password">
                        <label for="password"></label>
                        <input type="password" name="password" id="password" placeholder="Creá tu contraseña" required minlength="8">
                    </div>
                    <div class="container-repeat-password">
                        <label for="repeat-password"></label>
                        <input type="password" name="repeat-password" id="repeat-password" placeholder="Confirmá tu contraseña" required minlength="8">
                    </div>
                    <button type="submit">Enviar</button>
                    <button type="reset">Limpiar datos</button>
                </form>
            </section>
        </main>
        <footer>
            <section class="top-footer">
                <section class="pagaConTarjeta">
                    <div>
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <h5><strong>Paga con tarjeta o en efectivo</strong></h5>
                    <h6>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</h6>
                </section>
                <section class="envios">
                    <div>
                        <i class="fas fa-gift"></i>
                    </div>
                    <h5><strong>Envío gratis desde $ 2.500</strong></h5>
                    <h6>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</h6>
                </section>
                <section class="seguridad">
                    <div>
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <h5><strong>Seguridad, de principio a fin</strong></h5>
                    <h6>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</h6>
                </section>
            </section>
            <section>
                <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
            </section>
        </footer>
        
    </body>
</html>